@charset "UTF-8";
#skip {z-index:2;position:fixed;top:0;left:0;width:100%;}
#skip li {width:100%;}
#skip li a {display:block;line-height:0;font-size:0;color:#fff;background:#222;text-align:center;}
#skip li a:focus {line-height:50px;font-size:24px;}

#wrap {position:relative;width:100%;overflow-x:hidden;}
#wrap .sub-show {z-index:1;position:fixed;width:100%;height:100%;top:0;left:0;background:#000;opacity:0;transition:all .6s;}
#wrap .sub-show.addSubActive {z-index:3;opacity:.5;}
#wrap .sub-show.addAsideActive {z-index:4;opacity:.5;}


/* loading-page */
#wrap .load-box {z-index:5;position:fixed;top:0;left:0;width:100%;height:100vh;overflow:hidden;}
#wrap .load-box .load-active {z-index:2;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:168px;height:104px;overflow:hidden;}
#wrap .load-box .load-active > p {z-index:2;position:absolute;top:0;left:0;width:100%;height:0;overflow:hidden;animation:loadAni1 1.3s infinite;}
@keyframes loadAni1 {
    0%{height:0;}
    100%{height:100%;}
}
#wrap .load-box .load-active > p > img {position:absolute;top:0;left:0;width:100%;height:104px;}
#wrap .load-box .load-active > img {z-index:1;position:absolute;top:50%;left:50%;width:100%;height:104px;transform:translate(-50%,-50%);}

#wrap .load-box .load-bg {z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;opacity:.8;}


/* header */
#wrap #header {z-index:4;position:fixed;top:0;width:100%;height:136px;line-height:136px;text-align:center;overflow:hidden;transition:all .6s;}
#wrap #header.over {height:514px;background:#fff;opacity:1;}
#wrap #header.addHide {top:-136px;}
#wrap #header .wrap {width:100%;}
#wrap #header .wrap .gap {padding:0 80px;width:100%;box-sizing: border-box;}
#wrap #header .wrap .gap .container {width:100%;}
#wrap #header .wrap .gap .container #logo {float:left;width:220px;}
#wrap #header .wrap .gap .container #logo > a {display:inline-block;}
#wrap #header .wrap .gap .container #logo > a > img.basic {display:block;width:100%;}
#wrap #header.over .wrap .gap .container #logo > a > img.basic {display:none;width:100%;}
#wrap #header .wrap .gap .container #logo > a > img.over {display:none;width:100%;}
#wrap #header.over .wrap .gap .container #logo > a > img.over {display:block;width:100%;}

#wrap #header .wrap .gap .container #nav {display:inline-block;}
#wrap #header .wrap .gap .container #nav > ul {width:100%;}
#wrap #header .wrap .gap .container #nav > ul > li {position:relative;display:inline-block;width:140px;}
#wrap #header .wrap .gap .container #nav > ul > li > a.main-btn {display:block;color:#fff;width:100%;font-size:18px;font-weight:700;transition:color .3s;}
#wrap #header .wrap .gap .container #nav > ul > li > a.main-btn > .m-close {display:none;}
#wrap #header.over .wrap .gap .container #nav > ul > li > a.main-btn {color:#333;}

#wrap #header .wrap .gap .container #nav > ul > li .sub {position:absolute;top:136px;left:0;display:block;color:#111;width:100%;line-height:200%;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap {margin:0;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap .sub-wrap {width:100%;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap .sub-wrap > li {display:inline-block;width:100%;margin-bottom:17px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap .sub-wrap > li .sub-menu {display:block;width:100%;color:#111;font-size:16px;font-weight:400;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap .sub-wrap > li .sub-menu:hover {color:#8b2332;}

#wrap #header .wrap .gap .container #nav > ul > li .sub {display:none;}


#wrap #header .wrap .gap .container #aside {float:right;}
#wrap #header .wrap .gap .container #aside > ul {position:relative;}
#wrap #header .wrap .gap .container #aside > ul > li {display:inline-block;width:32px;height:20px;margin:0 10px;}
#wrap #header .wrap .gap .container #aside > ul > li > a.pc-aside-btn {display:block;width:100%;height:100%;transition:all .3s;}
#wrap #header .wrap .gap .container #aside > ul > li > a.search {background:url(../img/util-bt1.png) no-repeat 0 0;background-size:100%;}
#wrap #header.over .wrap .gap .container #aside > ul > li > a.search {background-image:url(../img/util-bt1-color.png);}
#wrap #header .wrap .gap .container #aside > ul > li > a.login {background:url(../img/util-bt2.png) no-repeat 0 0;background-size:100%;}
#wrap #header.over .wrap .gap .container #aside > ul > li > a.login {background-image:url(../img/util-bt2-color.png);}
#wrap #header .wrap .gap .container #aside > ul > li > a.alarm {background:url(../img/util-bt3.png) no-repeat 0 0;background-size:100%;}
#wrap #header.over .wrap .gap .container #aside > ul > li > a.alarm {background-image:url(../img/util-bt3-color.png);}

#wrap #header .wrap .gap .container #aside > ul > li.ham-box {display:none;}
#wrap #header .wrap .gap .container #aside > ul > li > a.mobile-btn {position:relative;display:block;width:100%;height:100%;}
#wrap #header .wrap .gap .container #aside > ul > li > a.mobile-btn .bar {position:absolute;width:100%;height:2px;top:0;left:0;background:#fff;}
#wrap #header .wrap .gap .container #aside > ul > li > a.mobile-btn .bar.bar1 {top:0;margin-top:0;transform:rotate(0deg)}
#wrap #header .wrap .gap .container #aside > ul > li > a.mobile-btn.addClick .bar.bar1 {top:50%;margin-top:-1px;transform:rotate(135deg);animation:hamAni1 .6s;}
@keyframes hamAni1 {
    0% {top:0;margin-top:0;transform:rotate(0deg)}
    100% {top:50%;margin-top:-1px;transform:rotate(135deg);}
}
#wrap #header .wrap .gap .container #aside > ul > li > a.mobile-btn .bar.bar2 {top:50%;margin-top:-1px;opacity:1;}
#wrap #header .wrap .gap .container #aside > ul > li > a.mobile-btn.addClick .bar.bar2 {opacity:0;animation:hamAni2 .6s;}
@keyframes hamAni2 {
    0% {opacity:1;}
    100% {opacity:0;}
}
#wrap #header .wrap .gap .container #aside > ul > li > a.mobile-btn .bar.bar3 {top:auto;bottom:0;margin-bottom:0;transform:rotate(0deg);}
#wrap #header .wrap .gap .container #aside > ul > li > a.mobile-btn.addClick .bar.bar3 {bottom:50%;margin-bottom:-1px;transform:rotate(-135deg);animation:hamAni3 .6s;}
@keyframes hamAni3 {
    0% {bottom:0;margin-bottom:0;transform:rotate(0deg);}
    100% {bottom:50%;margin-bottom:-1px;transform:rotate(-135deg);}
}


/* search active */
#wrap #search {z-index:5;position:fixed;top:-100%;left:0;width:100%;overflow:hidden;transition:all .6s;}
#wrap #search.addActive {top:0;}
#wrap #search .wrap {width:100%;background:#fff;}
#wrap #search .wrap .gap {width:1160px;margin:0 auto;padding-bottom:100px;box-sizing:border-box;}
#wrap #search .wrap .gap .container {width:100%;}
#wrap #search .wrap .gap .container .search-form-box {padding:80px 0 60px;box-sizing:border-box;}
#wrap #search .wrap .gap .container .search-form-box .srch-title {position:relative;width:480px;height:70px;margin:0 auto 60px;border-bottom:3px solid #333;box-sizing: border-box;}
#wrap #search .wrap .gap .container .search-form-box .srch-title #srchEnt {appearance:none;outline:0;border:0;width:calc(100% - 40px);height:46px;margin-top:7px;padding:0;font-size:24px;font-weight:300;color:#000;opacity:.5;letter-spacing:-1px;line-height:150%;font-family: "Noto sans KR", "sans-serif";background:transparent;}
#wrap #search .wrap .gap .container .search-form-box .srch-title a.search-ico {position:absolute;display:block;top:18px;right:0;width:34px;}
#wrap #search .wrap .gap .container .search-form-box .srch-title a.search-ico img.pc-img {display:block;}
#wrap #search .wrap .gap .container .search-form-box .srch-title a.search-ico img.mo-img {display:none;}

#wrap #search .wrap .gap .container .search-form-box .srch-sel {width:100%;}
#wrap #search .wrap .gap .container .search-form-box .srch-sel dl {width:100%;margin-bottom:10px;}
#wrap #search .wrap .gap .container .search-form-box .srch-sel dl::after {content:'';display:block;clear:both;}
#wrap #search .wrap .gap .container .search-form-box .srch-sel dl dt {position:relative;float:left;width:88px;font-size:20px;color:#333;line-height:120%;font-weight:300;padding-top: 10px;margin-bottom:0;}
#wrap #search .wrap .gap .container .search-form-box .srch-sel dl dd.sel-btn-box {float:right;width:calc(100% - 88px);}
#wrap #search .wrap .gap .container .search-form-box .srch-sel dl dd.sel-btn-box::after {content:'';display:block;clear:both;}
#wrap #search .wrap .gap .container .search-form-box .srch-sel dl dd.sel-btn-box a.sel-btn {position:relative;float:left;display:table;width:134px;height:42px;box-sizing: border-box;background:#fff;}
#wrap #search .wrap .gap .container .search-form-box .srch-sel dl dd.sel-btn-box a.sel-btn::before {content:'';display:block;position:absolute;top:0;left:0;width:132px;height:40px;border:1px solid #e1e1e1;}
#wrap #search .wrap .gap .container .search-form-box .srch-sel dl dd.sel-btn-box a.sel-btn::after {z-index:1;display:none;position:absolute;top:0;left:0;content:'';width:100%;height:100%;background:#8b2332;}
#wrap #search .wrap .gap .container .search-form-box .srch-sel dl dd.sel-btn-box a.sel-btn.isSelect::after {display:block;}
#wrap #search .wrap .gap .container .search-form-box .srch-sel dl dd.sel-btn-box a.sel-btn > span {z-index:2;position:relative;display:table-cell;font-size:16px;font-weight:400;text-align:center;color:#333;}
#wrap #search .wrap .gap .container .search-form-box .srch-sel dl dd.sel-btn-box a.sel-btn.isSelect span {color:#fff;}

#wrap #search .wrap .gap .container .selected-box {width:100%;padding-top:40px;margin-bottom:60px;border-top:1px solid #d9d9d9;}
#wrap #search .wrap .gap .container .selected-box > p {float:left;width:137px;height:30px;padding-top:3px;font-size:18px;line-height:120%;font-weight:400;}
#wrap #search .wrap .gap .container .selected-box .sel-list {float:left;width:calc(100% - 137px);}
#wrap #search .wrap .gap .container .selected-box .sel-list .add-area {float:left;width:calc(100% - 88px);}
#wrap #search .wrap .gap .container .selected-box .sel-list .add-area > a.reset-btn {display:inline-block;width:82px;height:30px;margin:0 6px 10px 0;background:#888;text-align:center;}
#wrap #search .wrap .gap .container .selected-box .sel-list .add-area > a.reset-btn > span {display:inline-block;font-size:16px;color:#fff;line-height:120%;padding:5px 20px 5px 0px;background:url(../img/srch-sel-reset.png) no-repeat right center;}

#wrap #search .wrap .gap .container .search-btn-box {text-align:center;}
#wrap #search .wrap .gap .container .search-btn-box .search-btn {z-index:1;position:relative;display:inline-block;height:60px;width:158px;overflow:hidden;outline:1px solid #888;color:#333;background:transparent;transition:all .35s ease-in-out .35s;}
#wrap #search .wrap .gap .container .search-btn-box .search-btn:hover {outline:0;background:#8b2332;color:#fff;}
#wrap #search .wrap .gap .container .search-btn-box .search-btn::after {z-index:2;position:absolute;content:'';display:block;width:100%;height:3px;top:0;left:-100%;background:#8b2332;transition:all .35s;}
#wrap #search .wrap .gap .container .search-btn-box .search-btn:hover::after {left:0;}
#wrap #search .wrap .gap .container .search-btn-box .search-btn::before {z-index:2;position:absolute;content:'';display:block;width:100%;height:3px;bottom:0;right:-100%;background:#8b2332;transition:all .35s;}
#wrap #search .wrap .gap .container .search-btn-box .search-btn:hover::before {right:0;}

#wrap #search .wrap .gap .container .search-btn-box .search-btn > span {z-index:1;position:relative;display:block;width:100%;line-height:60px;font-size:22px;font-weight:300;color:inherit;letter-spacing:-1px;}
#wrap #search .wrap .gap .container .search-btn-box .search-btn > span::after {z-index:2;position:absolute;content:'';display:block;width:3px;height:100%;top:-100%;left:0;background:#8b2332;transition:all .35s;}
#wrap #search .wrap .gap .container .search-btn-box .search-btn:hover > span::after {top:0;}
#wrap #search .wrap .gap .container .search-btn-box .search-btn > span::before {z-index:2;position:absolute;content:'';display:block;width:3px;height:100%;bottom:-100%;right:0;background:#8b2332;transition:all .35s;}
#wrap #search .wrap .gap .container .search-btn-box .search-btn:hover > span::before {bottom:0;}

#wrap #search .wrap .gap .container > span {position:absolute;top:60px;right:80px;display:block;}
#wrap #search .wrap .gap .container > span > .close-btn {display:block;width:auto;transform:rotate(0deg);transition:all .4s;}
#wrap #search .wrap .gap .container > span > .close-btn:hover {transform:rotate(180deg);}
#wrap #search .wrap .gap .container > span > .close-btn > img {width:auto;}

#wrap #search .mo-btn-box  {display:none;position:absolute;bottom:0;left:0;width:100%;height:50px;background:#fff;box-shadow:1px 1px 20px 1px rgba(0,0,0,.1);}
#wrap #search .mo-btn-box > .mo-sear-btn {float:left;display:block;width:50%;height:100%;text-align:center;line-height:49px;font-size:14px;font-weight:400;color:#333;box-sizing: border-box;}
#wrap #search .mo-btn-box > .mo-sear-btn.close-btn {border-right:1px solid #ddd;}

/* login active */
#wrap #login {z-index:5;position:fixed;top:0;right:-100%;width:540px;height:100vh;padding:60px 0 60px 60px;box-sizing:border-box;color:#fff;background:#555;transition:all .6s;}
#wrap #login.addActive {right:0;}
#wrap #login .wrap {width:100%;height:100%;}
#wrap #login .wrap .gap {width:100%;height:100%;}
#wrap #login .wrap .gap .container {width:100%;height:100%;}
#wrap #login .wrap .gap .container .title {margin-bottom:54px;}
#wrap #login .wrap .gap .container .title h4 {font-size:14px;font-weight:600;line-height:120%;letter-spacing: 1px;padding-top:6px;}

#wrap #login .wrap .gap .container .before-login {width:100%;}
#wrap #login .wrap .gap .container .before-login p {font-size:38px;font-weight:300;line-height:150%;margin-bottom:74px;}
#wrap #login .wrap .gap .container .before-login .connect-box a {z-index:1;position:relative;display:inline-block;width:200px;height:60px;outline:1px solid #fff;background:transparent;color:#fff;overflow: hidden;transition:all .35s ease-in-out .35s;}
#wrap #login .wrap .gap .container .before-login .connect-box a:hover {outline:0;background:#8b2332;color:#fff;}
#wrap #login .wrap .gap .container .before-login .connect-box a::after {z-index:2;position:absolute;content:'';display:block;width:100%;height:3px;top:0;left:-100%;background:#8b2332;transition:all .35s;}
#wrap #login .wrap .gap .container .before-login .connect-box a:hover::after {left:0;background:#8b2332;}
#wrap #login .wrap .gap .container .before-login .connect-box a::before {z-index:2;position:absolute;content:'';display:block;width:100%;height:3px;bottom:0;right:-100%;background:#8b2332;transition:all .35s;}
#wrap #login .wrap .gap .container .before-login .connect-box a:hover::before {right:0;}

#wrap #login .wrap .gap .container .before-login .connect-box a span {z-index:1;position:relative;display:block;width:100%;line-height:60px;font-size:22px;font-weight:400;color:inherit;letter-spacing: 2px;text-align:center;}
#wrap #login .wrap .gap .container .before-login .connect-box a span::after {z-index:2;position:absolute;content:'';display:block;width:3px;height:100%;top:-100%;left:0;background:#8b2332;transition:all .35s;}
#wrap #login .wrap .gap .container .before-login .connect-box a:hover span::after {top:0;}
#wrap #login .wrap .gap .container .before-login .connect-box a span::before {z-index:2;position:absolute;content:'';display:block;width:3px;height:100%;bottom:-100%;right:0;background:#8b2332;transition:all .35s;}
#wrap #login .wrap .gap .container .before-login .connect-box a:hover span::before {bottom:0;}

#wrap #login .wrap .gap .container .before-login .connect-box a.login-btn {margin-right:20px;}

#wrap #login .wrap .gap .container > span {position:absolute;top:40px;right:40px;display:block;width:auto;}
#wrap #login .wrap .gap .container > span a.close-btn {display:block;transform:rotate(0deg);transition:all .4s;}
#wrap #login .wrap .gap .container > span a.close-btn:hover {transform:rotate(180deg)}
#wrap #login .wrap .gap .container > span a.close-btn img {width:auto;}
#wrap #login .wrap .gap .container > span a.close-btn .pc-img {display:block;}
#wrap #login .wrap .gap .container > span a.close-btn .mo-img {display:none;}

/* alarm active */



/* main */
#wrap #main {z-index:1;position:relative;width:100%;}
/* section1 */
#wrap #main #section1 {width:100%;height:100%;}
#wrap #main #section1 .wrap {width:100%;height:100%;}
#wrap #main #section1 .wrap .gap {width:100%;height:100%;}
#wrap #main #section1 .wrap .gap .container {width:100%;height:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container {position:relative;width:100%;height:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view {z-index:1;position:relative;width:100%;height:100%;overflow:hidden;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap {position:relative;left:0;margin-left:-100%;width:500%;height:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {position:relative;float:left;width:1920px;height:969px;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide::after {z-index:2;position:absolute;content:'';display:block;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.25);}

#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .pc-bg-wrap {z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;background:url(../img/202102261248317840.jpg) no-repeat 0 0;background-size:cover;transform:scale(1);transform-origin:50% 50%;transition:all 5s .7s;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide.addSlide .pc-bg-wrap {transform:scale(1.1);}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide.slide0 .pc-bg-wrap {background-image:url(../img/202102261248317840.jpg);}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide.slide1 .pc-bg-wrap {background-image:url(../img/202102261140570790.jpg);}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide.slide2 .pc-bg-wrap {background-image:url(../img/202010300520079970.jpg);}

#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap {z-index:3;position:absolute;top:50%;left:50%;width:100%;text-align:center;transform: translate(-50%, -50%);}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap {width:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box {width:100%;color:#fff;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .con {position:relative;top:230px;opacity:0;/* transition:all 2s; */}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .con1.addAni {top:0;opacity:1;animation:addAni1 1.8s;}
@keyframes addAni1 {
    0% {opacity:0;top:230px;}
    100% {top:0;opacity:1;}
}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .con2.addAni {top:0;opacity:1;animation:addAni2 2.4s;}
@keyframes addAni2 {
    0% {top:260px;opacity:0;}
    100% {top:0;opacity:1;}
}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .con3.addAni {top:0;opacity:1;animation:addAni3 2.8s;}
@keyframes addAni3 {
    0% {top:280px;opacity:0;}
    100% {top:0;opacity:1;}
}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .con > h2 {font-size:64px;font-weight:400;letter-spacing:10px;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .con > p {margin:50px 0 80px;font-size:18px;font-weight:300;line-height:160%;}
/* view-btn-box */
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .view-btn-box {display:inline-block;width:144px;height:40px;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .view-btn-box .view-btn {z-index:1;position:relative;display:block;width:100%;height:100%;outline:1px solid #fff;background:transparent;color:#fff;overflow: hidden;transition:all .35s ease-in-out .35s;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .view-btn-box .view-btn:hover {outline:0;background:#8b2332;color:#fff;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .view-btn-box .view-btn::after {z-index:2;position:absolute;content:'';display:block;width:100%;height:3px;top:0;left:-100%;background:#8b2332;transition:all .35s;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .view-btn-box .view-btn:hover::after {left:0;background:#8b2332;}

#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .view-btn-box .view-btn::before {z-index:2;position:absolute;content:'';display:block;width:100%;height:3px;bottom:0;right:-100%;background:#8b2332;transition:all .35s;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .view-btn-box .view-btn:hover::before {right:0;}

#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .view-btn-box .view-btn > span {z-index:1;position:relative;display:block;width:100%;line-height:40px;font-size:14px;font-weight:400;color:inherit;letter-spacing: 2px;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .view-btn-box .view-btn > span::after {z-index:2;position:absolute;content:'';display:block;width:3px;height:100%;top:-100%;left:0;background:#8b2332;transition:all .35s;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .view-btn-box .view-btn:hover > span::after {top:0;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .view-btn-box .view-btn > span::before {z-index:2;position:absolute;content:'';display:block;width:3px;height:100%;bottom:-100%;right:0;background:#8b2332;transition:all .35s;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-wrap .text-gap .text-box .view-btn-box .view-btn:hover > span::before {bottom:0;}


/* slide-pagenation */
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-btn-wrap {z-index:2;position:absolute;top:50%;left:80px;/* width:100%; */}
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-btn-wrap > li {display:inline-block;margin:0 10px;}
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-btn-wrap > li .pagenation-btn {position:relative;display:block;width:20px;height:20px;text-align:center;}
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-btn-wrap > li .pagenation-btn span {z-index:1;position:relative;display:inline-block;width:7px;height:7px;line-height:20px;border-radius: 50%;background:#fff;}
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-btn-wrap > li .pagenation-btn.addSvg span {display:none;}
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-btn-wrap > li .pagenation-btn svg {display:none;z-index:2;position:absolute;top:0;left:0;width:100%;height:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-btn-wrap > li .pagenation-btn.addSvg svg {display:inline-block;z-index:2;position:absolute;top:0;left:0;width:100%;height:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-btn-wrap > li .pagenation-btn svg circle {stroke-dasharray:38;stroke-dashoffset:38;}
#wrap #main #section1 .wrap .gap .container .slide-container .pagenation-btn-wrap > li .pagenation-btn.addSvg svg circle {stroke-dasharray:38;animation:svgAni1 8s;}
@keyframes svgAni1 {
    to {stroke-dashoffset:0;}
}

/* main-notice-rolling */
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap {z-index:2;position:absolute;bottom:80px;left:80px;color:#fff;}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-rolling-view {z-index:1;position:relative;width:240px;height:100px;overflow: hidden;}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-rolling-view .notice-rolling-wrap {position:relative;width:100%;height:100%;overflow: hidden;}/* display:flex;flex-direction: column;flex-wrap: nowrap;justify-content: center;align-items: flex-start; */
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-rolling-view .notice-rolling-wrap .notice-rolling {position:absolute;top:0;left:0;width:100%;height:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-rolling-view .notice-rolling-wrap .notice-rolling.rolling6 {top:calc(100px*-1);}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-rolling-view .notice-rolling-wrap .notice-rolling.rolling1 {top:calc(100px*0);position:relative;}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-rolling-view .notice-rolling-wrap .notice-rolling.rolling2 {top:calc(100px*1);}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-rolling-view .notice-rolling-wrap .notice-rolling.rolling3 {top:calc(100px*2);}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-rolling-view .notice-rolling-wrap .notice-rolling.rolling4 {top:calc(100px*3);}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-rolling-view .notice-rolling-wrap .notice-rolling.rolling5 {top:calc(100px*4);}

#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-rolling-view .notice-rolling-wrap .notice-rolling .rolling-btn {display:block;}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-rolling-view .notice-rolling-wrap .notice-rolling .rolling-btn .notice-title {text-overflow: ellipsis;white-space: nowrap;font-size:14px;font-weight:300;margin-bottom:16px;}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-rolling-view .notice-rolling-wrap .notice-rolling .rolling-btn .notice-title > span:nth-child(1){/* width:58px;height:24px; */padding:0 5px;line-height:24px;text-align:center;font-size:13px;border:1px solid #fff;margin-right:6px;}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-rolling-view .notice-rolling-wrap .notice-rolling .rolling-btn .notice-text {font-size:16px;font-weight:600;margin-bottom:40px;}

#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-controller-box {z-index:2;position:relative;display:inline-block;}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-controller-box .progress-bar {z-index:1;position:relative;display:inline-block;width:100px;height:2px;background:#8e8f90;}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-controller-box .progress-bar::after {z-index:2;content:' ';display:block;position:absolute;top:0;left:0;width:0;height:100%;background:#fff;}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-controller-box.addRolling .progress-bar::after {width:100%;animation:proAni1 6s;}
@keyframes proAni1 {
    0% {width:0}
    100% {width:100%}
}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-controller-box .controll-btn {position:relative;display:inline-block;width:16px;height:16px;margin-left:10px;}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-controller-box .controll-btn .pause {display:block;width:100%;height:100%;background:url(../img/main-con1-stopbt.png) no-repeat 0 0;background-size:cover;transform:rotateY(0);opacity:1;transition:all .3s;}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-controller-box .controll-btn.addPause .pause {transform:rotateY(180deg);opacity:0;}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-controller-box .controll-btn .play {display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:url(../img/main-con1-playbt.png) no-repeat 0 0;background-size:cover;transform:rotateY(180deg);opacity:0;transition:all .3s;}
#wrap #main #section1 .wrap .gap .container .slide-container .main-notice-wrap .notice-rolling-container .notice-controller-box .controll-btn.addPause .play {transform:rotateZ(0);opacity:1;}


#wrap #main #section1 .wrap .gap .container .slide-container .scroll-ico-box {z-index:2;position:absolute;bottom:0;left:50%;margin-left:-1px;width:1px;height:80px;background:#8e8f90;}
#wrap #main #section1 .wrap .gap .container .slide-container .scroll-ico-box > span {z-index:3;position:absolute;top:0;left:0;width:100%;height:0;background:#fff;animation:addScl 1.8s infinite ease-out}
@keyframes addScl {
    0% {height:0;}
    100% {height:100%;}
}


/* section2 */
#wrap #main #section2 {position:relative;width:100%;height:100%;}
#wrap #main #section2 .wrap {width:100%;height:100%;}
#wrap #main #section2 .wrap .gap {width:100%;height:100%;}
#wrap #main #section2 .wrap .gap .container {width:100%;height:100%;}
#wrap #main #section2 .wrap .gap .container .basic-bg {z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;background:url(../img/sales_bg_01.jpg) no-repeat 50% 50%;background-size:cover;opacity:1;transition:all .6s;}
#wrap #main #section2 .wrap .gap .container .basic-bg.addMouseOver {opacity:0;}
#wrap #main #section2 .wrap .gap .container .content {z-index:2;position:relative;width:100%;height:100%;overflow: hidden;}
#wrap #main #section2 .wrap .gap .container .content .bg {z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;background:url(../img/202102160955478550.jpg) no-repeat 50% 50%;background-size:cover;opacity:0;}
#wrap #main #section2 .wrap .gap .container .content .bg0 {background-image:url(../img/202102160955478550.jpg);}
#wrap #main #section2 .wrap .gap .container .content .bg1 {background-image:url(../img/202102080401326860.jpg);}
#wrap #main #section2 .wrap .gap .container .content .bg2 {background-image:url(../img/202011300337278260.jpg);}
#wrap #main #section2 .wrap .gap .container .content .bg3 {background-image:url(../img/202010150333281620.jpg);}
#wrap #main #section2 .wrap .gap .container .content .bg4 {background-image:url(../img/202010150350323250.jpg);}
#wrap #main #section2 .wrap .gap .container .content .bg5 {background-image:url(../img/202010150439073300.jpg);}
#wrap #main #section2 .wrap .gap .container .content .bg6 {background-image:url(../img/202010150341289710.jpg);}
#wrap #main #section2 .wrap .gap .container .content .bg::after {z-index:2;content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.3)}

#wrap #main #section2 .wrap .gap .container .content > ul {z-index:3;position:relative;left:0;height:100%; display:flex;}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide {flex-basis: 25%;flex-shrink:0;height:100%}

#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content {z-index:3;position:relative;width:100%;height:100%;transition:all .6s;border-right:1px solid rgba(255,255,255,.15);}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-bg {z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;background:#63232c;opacity:0;transition:all 1s;}/* opacity:0.6 */
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide.addMouseOver .sales-content .sales-bg {opacity:0.6;}/* opacity:0.6 */
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap {z-index:2;position:relative;padding-top:180px;width:100%;height:100%;box-sizing: border-box;}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box {width:100%;}

#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .top-txt-box {width:100%;}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .top-txt-box .top-txt-btn {display:block;padding:50px 75px;cursor: pointer;}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .top-txt-box .top-txt-btn .top-txt {height:300px;}/* 300px */
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .top-txt-box .top-txt-btn .top-txt .txt1 {word-break: keep-all;}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .top-txt-box .top-txt-btn .top-txt .txt1 > span {display:inline-block;width:74px;height:30px;line-height:29px;text-align:center;font-size:16px;border:1px solid #fff;}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .top-txt-box .top-txt-btn .top-txt .txt2 {margin:43px 0 18px 0;font-size:30px;line-height:150%;font-weight:300;}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .top-txt-box .top-txt-btn .top-txt .txt3 {font-size:16px;line-height:160%;}

#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .bottom-txt-box {position:relative;width:100%;padding-top:20px;}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .bottom-txt-box::before {content:'';display:block;position:absolute;top:0;left:0;width:200px;height:2px;background:rgba(255, 255, 255, 0.4);}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .bottom-txt-box .bottom-txt-btn {display:block;padding:50px 75px;}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .bottom-txt-box .bottom-txt-btn .before {font-size:16px;font-weight:300;line-height:120%;letter-spacing:1px;opacity:1;transition:all .6s;}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide.addMouseOver .sales-content .sales-content-gap .sales-content-box .bottom-txt-box .bottom-txt-btn .before {opacity:0;}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .bottom-txt-box .bottom-txt-btn .before > .num {font-size:16px;font-weight:300;line-height:120%;}

#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .bottom-txt-box .bottom-txt-btn .after {display:block;margin-top:17px;font-size:16px;font-weight:300;line-height:120%;opacity:0;transition:all 1s;}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide.addMouseOver .sales-content .sales-content-gap .sales-content-box .bottom-txt-box .bottom-txt-btn .after {opacity:1;}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .bottom-txt-box .bottom-txt-btn .after > li {display:table;margin-bottom:13px;}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .bottom-txt-box .bottom-txt-btn .after > li .title {display:table-cell;width:78px;}

#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .bottom-txt-box .move-btn-box {margin-left:45px;opacity:0;transition:all 1s;}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide.addMouseOver .sales-content .sales-content-gap .sales-content-box .bottom-txt-box .move-btn-box {opacity:1;}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .bottom-txt-box .move-btn-box .move-btn {display:inline-block;padding:10px 10px 10px 30px;font-size:16px;font-weight:500;line-height:120%}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide .sales-content .sales-content-gap .sales-content-box .bottom-txt-box .move-btn-box .move-btn .move-txt {background:url(../img/sales_txt_homepage.png) no-repeat 0 50%;padding-left:22px;}
#wrap #main #section2 .wrap .gap .container .content > ul .sales-slide.slide1 .sales-content .sales-content-gap .sales-content-box .bottom-txt-box .move-btn-box .move-btn .move-txt {background:url(../img/sales_txt_like.png) no-repeat 0 50%;padding-left:22px;}

/* #wrap #main #section2 .wrap .gap .container .arrow-btn-box {z-index:3;position:absolute;display:inline-block;height:14px;bottom:80px;right:80px;} */
#wrap #main #section2 .wrap .gap .container .arrow-btn-box .prev-btn {z-index:3;position:absolute;bottom:80px;right:150px;display:inline-block;width:40px;height:14px;background:url(../img/mainsec2_left.png) no-repeat 0 50%;opacity:0.5;}
#wrap #main #section2 .wrap .gap .container .arrow-btn-box .next-btn {z-index:3;position:absolute;bottom:80px;right:80px;display:inline-block;width:40px;height:14px;background:url(../img/mainsec2_right.png) no-repeat 0 50%;opacity:1;}

/* section3 */
#wrap #main #section3 {width:100%;height:100%;background:#efefef;}
#wrap #main #section3 .wrap {width:100%;height:100%;padding:0 160px;box-sizing: border-box;}
#wrap #main #section3 .wrap .gap {padding:180px 0;box-sizing: border-box;width:100%;height:100%;display:table;table-layout: fixed;}
#wrap #main #section3 .wrap .gap .container {position:relative;width:100%;height:100%;display:table-cell;}

#wrap #main #section3 .wrap .gap .container .right-box {position:absolute;top:44%;right:0;text-align:right;}
#wrap #main #section3 .wrap .gap .container .right-box .right-box-gap .right-box-wrap > .title {font-size:70px;font-weight:300;line-height:120%;letter-spacing:10px;color:#333;margin:0 -10px 10px 0;}/* font-size:55px; */
#wrap #main #section3 .wrap .gap .container .right-box .right-box-gap .right-box-wrap > .txt {font-size:26px;font-weight:400;color:#666;}/* font-size:20px; */
#wrap #main #section3 .wrap .gap .container .right-box .right-box-gap .right-box-wrap > .txt .eng {display:inline-block;margin-top:-3px;font-size:26px;font-weight:400;color:#666;}/* font-size:26px; */
#wrap #main #section3 .wrap .gap .container .right-box .right-box-gap .right-box-wrap .contect-btn-box {display:inline-block;width:98px;height:40px;text-align:center;margin-top:50px;}
#wrap #main #section3 .wrap .gap .container .right-box .right-box-gap .right-box-wrap .contect-btn-box .contect-btn {z-index:1;position:relative;display:block;width:100%;height:100%;outline:1px solid #333;background:transparent;color:#666;overflow: hidden;transition:all .35s ease-in-out .35s;}
#wrap #main #section3 .wrap .gap .container .right-box .right-box-gap .right-box-wrap .contect-btn-box .contect-btn:hover {outline:0;background:#8b2332;color:#fff;}
#wrap #main #section3 .wrap .gap .container .right-box .right-box-gap .right-box-wrap .contect-btn-box .contect-btn::after {z-index:2;position:absolute;content:'';display:block;width:100%;height:3px;top:0;left:-100%;background:#8b2332;transition:all .35s;}
#wrap #main #section3 .wrap .gap .container .right-box .right-box-gap .right-box-wrap .contect-btn-box .contect-btn:hover::after {left:0;background:#8b2332;}
#wrap #main #section3 .wrap .gap .container .right-box .right-box-gap .right-box-wrap .contect-btn-box .contect-btn::before {z-index:2;position:absolute;content:'';display:block;width:100%;height:3px;bottom:0;right:-100%;background:#8b2332;transition:all .35s;}
#wrap #main #section3 .wrap .gap .container .right-box .right-box-gap .right-box-wrap .contect-btn-box .contect-btn:hover::before {right:0;}

#wrap #main #section3 .wrap .gap .container .right-box .right-box-gap .right-box-wrap .contect-btn-box .contect-btn > span {z-index:1;position:relative;display:block;width:100%;line-height:39px;font-size:16px;font-weight:500;color:inherit;}
#wrap #main #section3 .wrap .gap .container .right-box .right-box-gap .right-box-wrap .contect-btn-box .contect-btn > span::after {z-index:2;position:absolute;content:'';display:block;width:3px;height:100%;top:-100%;left:0;background:#8b2332;transition:all .35s;}
#wrap #main #section3 .wrap .gap .container .right-box .right-box-gap .right-box-wrap .contect-btn-box .contect-btn:hover > span::after {top:0;}
#wrap #main #section3 .wrap .gap .container .right-box .right-box-gap .right-box-wrap .contect-btn-box .contect-btn > span::before {z-index:2;position:absolute;content:'';display:block;width:3px;height:100%;bottom:-102%;right:0;background:#8b2332;transition:all .35s;}
#wrap #main #section3 .wrap .gap .container .right-box .right-box-gap .right-box-wrap .contect-btn-box .contect-btn:hover > span::before {bottom:0;}


#wrap #main #section3 .wrap .gap .container .left-box {width:auto;} /* width:55% */
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap {display:flex;/* justify-content:space-between;height:100%; */}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box {position:relative;width:330px;height:58.82352941vh;margin-right:20px;/* flex:1 1 0; */background:#fff;overflow:hidden;transition:all .4s ease-out .6s;}/* height:570px */
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box.addLine {margin-top:-20px;box-shadow: 10px 20px 30px rgba(0,0,0,.15),5px 5px 20px rgba(0,0,0,.15);}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box .line {display:block;position:absolute;width:100%;height:100%;}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box .line:nth-child(1) {width:100%;height:2px;top:0;left:-100%;background:linear-gradient(90deg, transparent, #8b2332);}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box.addLine .line:nth-child(1) {left:100%;animation:lineAni1 .6s;}
@keyframes lineAni1 {
    0% {left:-100%;}
    100% {left:100%;}
}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box .line:nth-child(2) {width:2px;height:100%;top:-100%;right:0;background:linear-gradient(180deg, transparent, #8b2332);}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box.addLine .line:nth-child(2) {top:100%;animation:lineAni2 1.2s;}
@keyframes lineAni2 {
    0% {top:-100%;}
    100% {top:100%;}
}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box .line:nth-child(3) {width:100%;height:2px;bottom:0;right:-100%;background:linear-gradient(270deg, transparent, #8b2332);}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box.addLine .line:nth-child(3) {right:100%;animation:lineAni3 1.8s;}
@keyframes lineAni3 {
    0% {right:-100%;}
    100% {right:100%;}
}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box .line:nth-child(4) {width:2px;height:100%;left:0;bottom:-100%;background:linear-gradient(360deg, transparent, #8b2332);}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box.addLine .line:nth-child(4) {bottom:100%;animation:lineAni4 2.4s;}
@keyframes lineAni4 {
    0% {bottom:-100%;}
    100% {bottom:100%;}
}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box .list-gap {width:100%;height:100%;padding:80px 40px;box-sizing:border-box;}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box .list-gap .list-wrap {position:relative;width:100%;height:100%;}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box .list-gap .list-wrap > .title {display:block;width:100%;padding-top:87px;font-size:30px;font-weight:300;color:#333;line-height:130%;background:url(../img/thr_list_icon1.png) no-repeat 0 0;}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box.list0 .list-gap .list-wrap > .title {background-image:url(../img/thr_list_icon1.png);}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box.list1 .list-gap .list-wrap > .title {background-image:url(../img/thr_list_icon2.png);}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box.list2 .list-gap .list-wrap > .title {background-image:url(../img/thr_list_icon3.png);}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box .list-gap .list-wrap .list-btn-box {position:absolute;bottom:0;left:0;display:block;width:100%;}
#wrap #main #section3 .wrap .gap .container .left-box .left-wrap .list-box .list-gap .list-wrap .list-btn-box .list-btn {display:block;margin-top:16px;font-size:16px;font-weight:300;color:#666;}


/* footer */
#wrap #main #footer {z-index:2;position:relative;width:100%;height:310px;background:#3a3a3a;}
#wrap #main #footer .wrap {width:100%;height:100%;}
#wrap #main #footer .wrap .gap {width:100%;height:100%;}
#wrap #main #footer .wrap .gap .container {width:100%;height:100%;}

#wrap #main #footer .wrap .gap .container #footerLogo {position:absolute;top:80px;left:80px;width:auto;}
#wrap #main #footer .wrap .gap .container #footerLogo > img {width:100%;}

#wrap #main #footer .wrap .gap .container .contect-btn-box {position:absolute;top:87px;right:340px;width:auto;}
#wrap #main #footer .wrap .gap .container .contect-btn-box .policy-btn {font-size:16px;font-weight:300;color:#fff;line-height:120%;}
#wrap #main #footer .wrap .gap .container .contect-btn-box .contect-btn {font-size:16px;font-weight:300;color:#fff;line-height:120%;opacity:0.6;padding-left:17px;margin-left:16px;background:url(../img/footer-bar.png) no-repeat 0 5px;}

#wrap #main #footer .wrap .gap .container .family-site-box {position:absolute;top:80px;right:80px;width:180px;border:1px solid rgba(255,255,255,0.6);}
#wrap #main #footer .wrap .gap .container .family-site-box .site-wrap {position:absolute;width:100%;left:0;top:auto;display:none;bottom:0;opacity:0;background:#fff;border:1px solid #ddd;padding:27px 10px 28px 30px;box-sizing: border-box;}
#wrap #main #footer .wrap .gap .container .family-site-box.addChk .site-wrap {display:block;bottom:50px;opacity:1;}
#wrap #main #footer .wrap .gap .container .family-site-box .site-wrap .site-gap {width:100%;height:100%;}
#wrap #main #footer .wrap .gap .container .family-site-box .site-wrap .site-gap .site-box {width:100%;height:100%;}
#wrap #main #footer .wrap .gap .container .family-site-box .site-wrap .site-gap .site-box > dd {padding-top:20px;font-size:16px;}
#wrap #main #footer .wrap .gap .container .family-site-box .site-wrap .site-gap .site-box > dd .go-site-btn {display:block;width:100%;color:#888;}
#wrap #main #footer .wrap .gap .container .family-site-box .family-btn-wrap {width:100%;height:40px;overflow: hidden;}
#wrap #main #footer .wrap .gap .container .family-site-box .family-btn-wrap .family-btn {position:relative;display:block;text-align:center;width:100%;height:100%;background:#3a3a3a;color:#fff;opacity:0.6;font-size:14px;font-weight:400;letter-spacing: 3px;overflow:hidden;}
#wrap #main #footer .wrap .gap .container .family-site-box .family-btn-wrap .family-btn::after {z-index:2;position:absolute;content:'';display:block;width:100%;height:3px;top:0;left:-100%;background:#fff;opacity:1;transition:all .35s;}
#wrap #main #footer .wrap .gap .container .family-site-box .family-btn-wrap .family-btn:hover::after {left:0;background:#fff;}
#wrap #main #footer .wrap .gap .container .family-site-box.addChk .family-btn-wrap .family-btn::after {left:0;background:#fff;}
#wrap #main #footer .wrap .gap .container .family-site-box .family-btn-wrap .family-btn::before {z-index:2;position:absolute;content:'';display:block;width:100%;height:3px;bottom:0;right:-100%;background:#fff;opacity:1;transition:all .35s;}
#wrap #main #footer .wrap .gap .container .family-site-box .family-btn-wrap .family-btn:hover::before {right:0;}
#wrap #main #footer .wrap .gap .container .family-site-box.addChk .family-btn-wrap .family-btn::before {right:0;}

#wrap #main #footer .wrap .gap .container .family-site-box .family-btn-wrap .family-btn span {z-index:1;position:relative;display:block;width:100%;line-height:40px;font-size:14px;font-weight:400;color:inherit;letter-spacing:3px;}
#wrap #main #footer .wrap .gap .container .family-site-box .family-btn-wrap .family-btn span::after {z-index:2;position:absolute;content:'';display:block;width:3px;height:100%;top:-100%;left:0;background:#fff;opacity:1;transition:all .35s;}
#wrap #main #footer .wrap .gap .container .family-site-box .family-btn-wrap .family-btn span:hover::after {top:0;}
#wrap #main #footer .wrap .gap .container .family-site-box.addChk .family-btn-wrap .family-btn span::after {top:0;}
#wrap #main #footer .wrap .gap .container .family-site-box .family-btn-wrap .family-btn span::before {z-index:2;position:absolute;content:'';display:block;width:3px;height:100%;bottom:-100%;right:0;background:#fff;opacity:1;transition:all .35s;}
#wrap #main #footer .wrap .gap .container .family-site-box .family-btn-wrap .family-btn span:hover::before {bottom:0;}
#wrap #main #footer .wrap .gap .container .family-site-box.addChk .family-btn-wrap .family-btn span::before {bottom:0;}

#wrap #main #footer .wrap .gap .container .banner-box {position:absolute;bottom:60px;right:80px;width:auto;}
#wrap #main #footer .wrap .gap .container .banner-box .banner-btn {display:inline-block;margin-left:40px;}
#wrap #main #footer .wrap .gap .container .banner-box .banner-btn > img {width:100%;}

#wrap #main #footer .wrap .gap .container .copyright {position:absolute;bottom:60px;left:80px;font-size:13px;font-weight:300;color:#fff;opacity:0.3;letter-spacing: 1px;}




/* 팝업창 */
#popWrap {position:relative;width:500px;height:800px;background:url(../img/pop_up_bg.jpg) no-repeat 50% 50%;background-size:cover;}
#popWrap > .wrap {width:100%;}
#popWrap > .wrap > .gap {padding:200px 60px;}
#popWrap > .wrap > .gap > .container {width:100%;text-align:center;}
#popWrap > .wrap > .gap > .container .txt-box {display:inline-block;}
#popWrap > .wrap > .gap > .container .txt-box .tit-txt {display:block;}
#popWrap > .wrap > .gap > .container .txt-box .tit-txt > span:nth-child(1) {display:block;font-size:19px;color:#333;font-weight:500;line-height:130%;margin-bottom:20px;}
#popWrap > .wrap > .gap > .container .txt-box .tit-txt > span:nth-child(2) {display:block;width:100%;text-align:right;font-size:16px;}
#popWrap > .wrap > .gap > .container .txt-box .con-txt {display:block;width:100%;text-align:left;font-size:16px;font-weight:300;color:#333;}

#popWrap > .wrap > .gap > .container .button-box {position:absolute;bottom:100px;right:60px;}
#popWrap > .wrap > .gap > .container .button-box form#popupForm > span input[type="checkbox"] {margin-right:5px;}
#popWrap > .wrap > .gap > .container .button-box form#popupForm > span > label {margin-right:10px;font-size:14px;font-weight:300;line-height:150%;}
#popWrap > .wrap > .gap > .container .button-box form#popupForm > a {font-size:14px;padding:5px 10px;border:1px solid #888;color:#333;border-radius:4px;transition:all .3s;}
#popWrap > .wrap > .gap > .container .button-box form#popupForm > a:hover {border:1px solid #8b2332;color:#8b2332;border-radius:4px;}
#popWrap > .wrap > .gap > .container .button-box form#popupForm > .notice-move-btn {margin-right:5px;}